.credit-guide-container {
  background: #fff;
  padding: 20px 0;
  margin-top: 25px;
  width: 100%;
}

.credit-guide-container * {
  color: black;
}

@media (max-width: 500px) {
  .lenders-list-text {
    font-size: 8px;
  }
}
