.loan-amount-container,
.purchase-price-container,
.deposit-container {
  height: 50vh;
  display: flex;
  align-items: center;
  margin-top: 80px !important;
}

.loan-amount-placeholder {
  width: 50vw !important;
  margin: auto;
  outline: none;
}

.btn-loan-amount {
  width: 50vw !important;
  margin: auto;
  outline: none;
}

@media (min-width: 768px) {
  .loan-amount-placeholder,
  .btn-loan-amount {
    width: 25vw !important;
  }
}
