/* styles.css */

/* Add styles for the container to make it look like a card */
.form-container {
  /* margin-top: 50px; */
  padding: 20px;
  border: 2px solid #dddddd; /* Add border */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(192, 55, 55, 0.1); /* Add shadow for depth */
  background-color: #fff; /* Add background color */
  margin: 0 auto; /* Center the card horizontally */
  margin-bottom: 10px !important;
  width: 70vw !important;
}

/* Update form elements to match the card design */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

/* Update button style */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.connect-with-us {
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
}

.form-container form {
  margin-top: 1rem;
}

select.form-control {
  width: 100%;
  outline: none;
  padding: 10px; /* Add padding */
  font-size: 16px; /* Increase font size */
  transition: border-color 0.3s; /* Add transition for border color */
  color: rgb(242, 245, 247);
}

.contact-button {
  background: linear-gradient(
    270deg,
    rgb(19, 173, 199) 0%,
    rgb(148, 93, 214) 100%
  ) !important;
}

@media (max-width: 768px) {
  .form-container {
    width: 80vw !important;
  }
}
