/* Specific styles for .top-bar */
.container-fluid {
  height: 50px;
}

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  padding: 5px;
  background-color: #168a39;
  font-size: 11px;
  color: #f1f1f1;
  font-weight: 500;
  text-transform: uppercase;
}

.top-bar .top-text a {
  color: #f1f1f1;
}

/* Styles for .mail-text */
.mail-text {
  border-right-color: #4182c3;
  color: inherit;
}

.mail-text:last-child {
  border-right: none;
}

.mail-text,
.mail-text a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.mail-text strong {
  font-weight: normal;
}

#phone,
#clock {
  margin-bottom: 3px;
  font-size: 12px;
}

.social-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-icon {
  margin: 0 5px;
  font-size: 1.5rem;
}

.top-bar .row {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start;

  @media screen and (min-width: 990px) {
    margin-top: 20px;
    justify-content: space-around;
  }
}
