.footer {
  background-color: #0251a0;
  overflow: hidden;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-column {
  text-align: left;
}

.footer-column h3 {
  font-size: 18px;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a,
#contact p a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.social-icon {
  color: #fff;
}

ul li {
  text-decoration: none;
}

.footer-link {
  text-decoration: none;
}

#contact p,
#about-us-desc {
  font-size: 1.2rem;
}
