.navbar-collapse {
  justify-content: flex-end;
}

/* LandingPage.css */

/* Header Section */
.header-section {
  background-color: #f8f9fa;
}

.navbar-brand img {
  max-height: 60px; /* Adjust the height as needed */
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  color: #333; /* Adjust the color as needed */
}

/* Navigation Links */
.navbar-nav .nav-link {
  color: #333; /* Adjust the color as needed */
  margin-right: 20px; /* Adjust the spacing between links */
  font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Adjust the hover color as needed */
}

/* Services Section */
.services-section {
  background-color: #f8f9fa; /* Adjust the background color as needed */
  padding: 20px 0;
  text-align: center;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 40px;
}

.services-section h2 {
  font-size: 36px; /* Adjust the font size as needed */
  margin-bottom: 40px; /* Adjust the spacing as needed */
}

.services-section p,
.about-section,
.contact-section p {
  font-size: 1.2rem; /* Adjust the font size as needed */
  text-align: left;
}

/* About Section */
.about-section {
  background-color: #f8f9fa; /* Adjust the background color as needed */
  padding: 20px 0;
  text-align: center;
}

.about-section h2 {
  font-size: 36px; /* Adjust the font size as needed */
  margin-bottom: 40px; /* Adjust the spacing as needed */
}

/* Contact Section */
.contact-section {
  background-color: #f8f9fa; /* Adjust the background color as needed */
  padding: 100px 0;
  text-align: center;
}

.contact-section h2 {
  font-size: 36px; /* Adjust the font size as needed */
  margin-bottom: 40px; /* Adjust the spacing as needed */
}

/* Footer Section */
.footer-section {
  background-color: #333; /* Adjust the background color as needed */
  color: #fff; /* Adjust the text color as needed */
  padding: 50px 0;
  text-align: center;
}

.footer-section p {
  font-size: 16px; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Adjust the spacing as needed */
}

/* main */
/* Service.css */

/* Styles for service items */
.service-item {
  margin-bottom: 20px;
}

/* Styles for image container */
.img-container {
  width: auto;
}

/* Styles for service icon */
.service-icon {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
}

/* Styles for description container */
.description-container {
  padding-left: 20px; /* Add space between image and text */
  /* margin-left: 50px; */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .description-container {
    padding-left: 10px; /* Reduce padding for smaller screens */
  }

  .service-item {
    height: 300px;
  }

  .service-icon {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .service-item {
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  /* Styles for screens wider than 768px in portrait mode */

  .service-item {
    height: 300px;
  }
}

.service-item {
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Add border to service items */
  border-radius: 5px; /* Add border radius for better appearance */
  padding: 15px; /* Add padding for spacing */
  /* height: 230px; */
}
