.hero-section {
  padding: 100px 0;
  background-color: rgb(15, 22, 36);
  margin-top: 30px;
}

.hero-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.hero-button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 0;
  width: 30vw;
  background: linear-gradient(
    270deg,
    rgb(19, 173, 199) 0%,
    rgb(148, 93, 214) 100%
  ) !important;
}

.hero-image {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero-image {
    margin-top: 50px;
  }
  .hero-button {
    width: 60vw;
  }
}

@media (max-width: 768px) {
}
