.logos-container {
  /* max-width: 1200px !important; */
  /* margin: 0 auto; */

  padding: 0 20px;
  margin-top: 45px;
  background: #2c3e50 !important;
  width: 100%;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  margin: 10px;
}

.image-wrapper img {
  height: 75px;
  object-fit: cover;
}

@media (max-width: 415px) {
  .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three equal columns */
    grid-gap: 10px; /* Gap between grid items */
  }

  .image-wrapper img {
    width: fit-content;
    object-fit: cover;
  }
}
