.tiny-footer {
  background-color: #f8f9fa; /* Set background color */
  color: #6c757d; /* Set text color */
  padding: 10px 0; /* Add padding */
  font-weight: bold;
  text-align: center;
}

.tiny-footer-text {
  font-size: 1rem;
}
