.tiny-footer {
  background-color: #f8f9fa; /* Set background color */
  color: #6c757d; /* Set text color */
  padding: 10px 0; /* Add padding */
}

.tiny-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px; /* Set maximum width */
  margin: 0 auto; /* Center align */
  padding: 0 15px; /* Add padding */
}

.tiny-footer p {
  margin: 0; /* Remove default margin */
  text-align: left;
  padding: 1rem;
}

.tiny-footer a {
  color: #0b3e6b; /* Set link color */
  text-decoration: none; /* Remove underline */
}

.tiny-footer a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.tiny-footer {
  margin-left: 1rem !important;
}
