.loan-preference-form-container {
  background-color: rgba(18, 19, 26, 0.479);
  height: 70vh;
  padding: 10px;
  margin-top: 25px;
}

.lender-preference {
  width: 50vw;
}

.form-check-label {
  color: black;
  font-size: 1.4rem;
}

.form-check-input {
  font-size: 1.4rem;
}
