/* WhyChooseUs.module.css */
.whyChooseUsSection {
  padding: 5rem 0;
  background-color: #f8f9fa;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.sectionTitle::before,
.sectionTitle::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 50px;
  background-color: #007bff;
}

.sectionTitle::before {
  bottom: -1rem;
  width: 100px;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.listItem:hover {
  transform: translateX(10px);
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  margin-right: 1rem;
  transition: transform 0.3s ease-in-out;
}

.iconContainer svg {
  width: 20px;
  height: 20px;
}

.listItem:hover .iconContainer {
  transform: rotate(360deg);
}

.readMoreBtn {
  margin-top: 2rem;
  align-self: flex-start;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.readMoreBtn:hover {
  background-color: #0062cc;
}

@media (max-width: 767px) {
  .imageContainer {
    margin-bottom: 2rem;
  }
}
