.why-choose-us-section * {
  color: black;
}

.why-choose-us-section {
  margin-top: 35px;
  background-color: rgb(229, 248, 246);
}

.why-choose-us-section h2 {
  text-align: center;
  /* font-size: 2rem; */
  margin-bottom: 35px;
}

.why-choose-us-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

.equal-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 50px;
}

.why-choose-us-section {
  padding: 50px 0;
}

.why-choose-us-image-container,
.solution-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.why-choose-us-image-container img,
.solution-container img {
  width: 100%;
  height: auto;
  display: block; /* Ensure the image doesn't leave whitespace below */
  object-fit: contain; /* Make the image fit within its container while preserving aspect ratio */
}

.solution-container img {
  height: 60vh;
}

@media (max-width: 768px) {
  .why-choose-us-image-container {
    margin-bottom: 20px; /* Add some space between image sections on smaller screens */
  }
}

.why-choose-us-section ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.2rem;
}

.why-choose-us-section ul li {
  margin-bottom: 10px;
  position: relative;
}
