.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: green !important;
  width: 15vw;
}

@media (max-width: 992px) {
  .whatsapp-button {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .whatsapp-button {
    width: 45vw;
  }
}

@media (max-width: 425px) {
  .whatsapp-button {
    width: 50vw !important;
  }
}
