.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 15vw;
  box-shadow: 0px 0px 20px rgba(255, 3, 3, 0.5); /* Adding a box shadow with blur radius of 10px and transparency */
}

@media (max-width: 992px) {
  .whatsapp-button {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .whatsapp-button {
    width: 45vw;
  }
}

@media (max-width: 425px) {
  .whatsapp-button {
    width: 50vw !important;
  }
}
