/* Styling for each step item */
.fincon-step-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px; /* Example margin-bottom between step items */
  max-width: 300px; /* Example max-width for each step item */
  /* height: 300px; */
  /* width: 300px; */
  width: 100%; /* Ensure each step item takes full width */
}

/* Styling for the number block */
.number-block {
  text-align: center; /* Center-align content within the number block */
  font-size: 1.1rem;
}

/* Styling for the circle containing the number */
.circle {
  background-color: #cccccc; /* Example background color */
  width: 60px; /* Example width */
  height: 60px; /* Example height */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Example margin */
  margin: 10px auto;
}

/* Styling for the number */
.number {
  font-size: 24px; /* Example font size */
  color: #ffffff; /* Example text color */
}

/* Styling for the number title */
.number-title {
  margin-top: 10px; /* Example margin-bottom */
  font-size: 1.3rem;
}

/* Styling for the step description */
.number-block p {
  text-align: center; /* Center-align the step description */
}

.wpb_text_column.vc_custom_1691919978381 {
  display: flex;
  justify-content: center; /* Horizontally center-align */
  align-items: center; /* Vertically center-align */
  text-align: center; /* Center-align the text */
  margin-top: 1.5rem;
}

.border {
  border: 1px solid #dee4ee;
}

.loan-button {
  font-size: 20px;
  border-radius: 2px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px 30px;
  border: none;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px;
  max-width: 300px;
  /* height: 300px; */
  /* width: 300px; */
  width: 100%;
  border: 1px solid #dee4ee;
}

.process {
  /* border-bottom: none !important; */
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3d72b4,
    #525252
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3d72b4,
    #525252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 45px;
}

.align-center {
  font-size: 1.2rem;
}
