.refinance-container {
  margin-top: 100px;
}

.btn-purpose {
  width: 50vw !important;
  margin: auto !important;
  padding: 1rem !important;
  overflow: hidden;
}

@media (max-width: 525px) {
  .btn-purpose {
    width: 80vw !important;
  }
}
